@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --claroFuerte: #0159F5;
    --claroOscuro: #2260CA;
    --oscuroClaro: #355CA0;
    --oscuroFuerte: #3B5075;
    --negroClaro: #323B4B;
    --negroClaroOscuro: #2B2E33;
    --alerta: #F53400;
    --seguro:#1AAB8A;
    --blanco: #ffff;
    --negro: #0000; 
}

.title{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}

.subtitulo{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}
.texto{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.3rem;
}

button{
    background: var(--seguro);
    color:#fff;
    border:none;
    position:relative;
    height:50px;
    font-size:1.2em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:var(--seguro);
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: var(--seguro);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--negroClaro);
}

/* Estilos generales */

.container {
    width: 100%;
    background-color: var(--blanco);
}

.menu {
    width: 100%;
    margin: auto;
    height: 80px;
    border: 1px solid var(--negroClaroOscuro);
    background-color: var(--negroClaroOscuro);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-toggle{
    display: none;
}

.logo {
    text-decoration: none;
    list-style: none;
    color: var(--blanco);
    margin-bottom: 10px;
    margin-left: 10px;
}

/* Estilo de las barras del menú hamburguesa */
.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.barra {
    width: 30px;
    height: 4px;
    background-color: var(--blanco);
    margin: 5px 0;
}

/* Lista de menú */
.menu--lista {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.menu--lista li {
    text-decoration: none;
    list-style: none;
}

.lista--item a {
    padding-right: 40px;
    padding-top: 20px;
    text-decoration: none;
    list-style: none;
    color: var(--blanco);
}

.cards{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 700px;
    border: 1px solid var(--negroClaroOscuro);
    display: flex;
    flex-direction: row;
}

.banner{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 700px;
    border: 1px solid var(--negroClaroOscuro);
    display: flex;
    flex-direction: column;
}

.banner>*{
    margin: auto;
    padding: 3rem;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    z-index: -1; 
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.card{
    width: 60%;
    padding: 40px;
    margin: auto;
    margin-top: 25px;
    height: 500px;
    border: 1px solid var(--negroClaroOscuro);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h1{
    margin-bottom: 20px;
    
}
.parrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parrafo h2{
    margin-bottom: 50px;
}

.parrafo p{
    width: 80%;
}

.login-container {
    background-color: white;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
input[type="text"], input[type="password"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.forgot-password {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}
.forgot-password:hover {
    text-decoration: underline;
}

.volver{
    margin: 120px;
}
/* Media Queries para adaptabilidad */

/* Móviles (pantallas pequeñas) */
@media (max-width: 768px) {
    .cards, .banner{ 
        flex-direction: column;
    }

    .menu {
        height: 100px;
        padding: 10px 0;

    }
    
    .logo {
        padding-left: 10px;
        padding-top: 10px;
        font-size: 1.5rem;
    }

    /* Mostrar el menú cuando el checkbox esté marcado */
    #menu-toggle:checked + .menu-hamburguesa + .menu--lista {
        display: flex; /* Mostrar el menú */
    }

    /* Ocultar el checkbox al estar marcado */
    #menu-toggle {
        display: none; /* Ocultar el checkbox */
    }

    /* Mostrar el botón hamburguesa en pantallas pequeñas */
    .menu-hamburguesa {
        display: flex;
        margin-left: 10px;
        z-index: 1;
    }

    .menu--lista {
        display: none; /* Ocultar el menú por defecto */
        flex-direction: column;
        width: 100%;
        z-index: 1;
        position: absolute;
        top: 100px;
        background-color: var(--negroClaroOscuro);
    }

    .lista--item {
        margin: auto;
        padding-right: 10px;
        font-size: 1.5rem;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 2px;
    }


}

/* Tablets (pantallas medianas) */
@media (max-width: 1024px) {
    .logo {
        font-size: 1.8rem;
    }

    .lista--item {
        font-size: 1.8rem;
    }
}

/* Escritorios (pantallas grandes) */
@media (min-width: 1025px) {
    .logo {
        font-size: 2rem;
    }

    .lista--item {
        font-size: 2rem;
    }
}
